body {
  font-family: Arial;
  font-size: 67.5%;
  color: var(--colorWhite);
  background-color: var(--colorTealDarker);
}

a {
  color: var(--fontVintage);
  font-size: 1.5rem;
  text-decoration: none;
  transition: color 0.1s;
}

a:hover {
  color: var(--colorLemon);
  text-shadow: 2px 2px var(--colorCharcoal);
}

p {
  color: var(--colorWhite);
  font-size: 1.2rem;
  line-height: 2rem;
}



input[type="text"] {
  font-size: 100%;
}




/* header and footer */

.header
, .main
, .footer {
  max-width: 85vw;
  padding: 10px;
  margin: 30px auto !important;
  text-align: center;
  border: solid 0.3rem var(--colorWhite);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 8px 0px;
  border-radius: 5px;
  color: var(--colorWhite);
}



.header {
  background-color: var(--colorElectricBlue);
  /* max-height: 400px !important; */
}

.main {
  background-color: var(--colorGreen);
  /* max-height: 400px !important; */
}

.footer {
  background-color: var(--colorBrownMonkey);
  font-size: 1rem;
}

.jumbotron {
  padding: 2rem !important;
  margin: auto !important;
  width: 80%;
  color: var(--colorWhite);
  border-radius: 0;
  border: 0.3rem solid var(--colorWhite) !important;
  background-color: var(--colorBrownMonkey);
  width: 80%; 
  margin-bottom: 2rem !important;
  margin-top: 2rem !important;
}

.team-area {
  background-color: var(--colorGreen);
  padding: 2rem !important;
  margin: auto !important;
  width: 80%;
  border: 0.3rem solid var(--colorWhite) !important;
}

header::after,
footer::after {
  content: " ";
  display: inline-block;
  width: 80%;
  height: 2px;
}


ul#footerNav li {
  display: inline;
  padding: 40px;
}


ul#footerNav li  a {
  font-size: 2rem;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  border: 0;
  color: var(--fontVintage);
}

ul#footerNav li  a,
ul#footerNav li  a:focus {
  color: var(--fontVintage);
}

ul#footerNav li a:hover,
ul#footerNav li a:focus:hover, 
ul#footerNav li a.active:hover {
  color: var(--colorTealMedium);
  text-shadow: 1px 1px var(--colorGreenPale);
}

.footerP {
  font-style: italic;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footerTags {
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--colorWheat);
}

.footerCopyright {
  font-size: 1rem;
  margin-top: 0px;
  font-style: italic;
}

/* global text styling */

h1 {
  font-size: 3.5rem;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
  color: var(--colorWhite);
  text-transform: capitalize;
  text-align: center;
}


h3 {
  font-size: 2.3em;
  text-align: center;
  color: var(--colorWhite);
  text-transform: capitalize;
  text-align: center;
}


h4 {
  font-size: 1.7rem;
  text-align: center;
  color: var(--colorWhite);
  text-transform: capitalize;
  text-align: center;
}


h5, 
h6 {
  font-size: 1rem;
  text-align: center;
}

/* forms */





/* basic structural */

.hide {
  display: none;
}

.visible {
  display: inline;
}

.left {
  text-align: left;
}

.center {
  margin-left: auto;
  margin-right: auto;
}





/* cards */

.employee-card {
  background-color: var(--colorElectricBlue);
  padding: 1rem !important;
  margin: 1rem 0rem !important;
  /* margin-bottom: 1rem !important;
  margin-top: 1rem !important; */
  font-size: 1rem;
  border: 0.3rem solid var(--colorWhite) !important;
  width: 80%;
}


.card-header {
  display: inline-block;
  background-color: var(--colorOrange);
  padding: 2rem;
  margin: 1rem !important;
  font-size: 1rem;
  border: 0.2rem solid var(--colorWhite) !important;
}


.card-body {
  font-size: 1.5rem;
  padding: 2px;
  width: 100;
  margin: auto !important;
  background-color: var(--colorElectricBlue);
  /* border: 0.1rem solid var(--colorWhite) !important; */
}

.list-group {
  display: inline-block;
  padding: 0rem;
  font-size: 1.5rem;
  margin: auto !important;
  width: 100%;
  text-align: center;
  /* border: 0.1rem solid var(--colorWhite) !important; */
  outline: auto;
}

.list-group-item {
  display: inline-block;
  padding: 0.3rem;
  font-size: 1.5rem;
  margin: auto!important;
  width: 100%;
  text-align: center;
  background-color: var(--colorMustard);
  outline: auto;
}







